<mat-sidenav-container fullscreen>
        <mat-sidenav mode="side" #sidenav closed position="start">
            <img src style="width: 50px; height: 50px; border-radius: 28px;" src="./assets/google-logo-4.png"/>
          <!-- <p>LOGIN</p><br />
          <p>SIGN UP</p> -->
        </mat-sidenav>
        <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <a href ="home">Simple Project</a>
            <span class="toolbar-spacer"></span>
                <app-navigation></app-navigation>
          </mat-toolbar>
          <div class="main-content">
            <!-- <p>Welcome!! Click on any of the Application Below!</p> -->
          </div>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
   


