/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Robota", sans-serif; }

body{
    margin: 0;
}

.mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background-color: #3f51b5;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

