.sku{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:200px;

}

.skud{
    display: flex;
    align-items: center;
    justify-content: center;

}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}